/* Tailwind nem detektálja a ~~/data útvonalon a classokat szóval beállítjuk az egész projektre a base paths
https://tailwindcss.com/docs/detecting-classes-in-source-files#setting-your-base-path
*/
@import "tailwindcss" source("../../../");
@import "@nuxt/ui-pro";

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(0.2rem);
}
